* {
    margin:0px;
    padding: 0px;
}
body {
    width:100vw;
    overflow-x: hidden;
}
header{
    display: block;
    width: 1512px;
    height: 159px;
    top: 0px;
    background: #373867;
}
header h1 {
    width: 223px;
    height: 50px;
    top: 55px;
    position: absolute;
    color: rgba(240, 240, 240, 1);
    display: inline-block;
    right: 90px;
    padding-left: 89px;
}
aside {
    width: 427px;
    height: 1068px;
    background: rgba(229, 242, 237, 1);
    display: block;
}
aside h3{
    width: 101.43px;
    height: 61.31px;
    left: 150.26px;
    top: 32.27px;
    text-align: center;
    padding-left: 150.26px;
    padding-top: 32.27px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

nav li{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 1);
    height: 67px;
    width: 370px;
    left: 23px;
    top: 113px;
    border-radius: 0px;
    text-align: center;
    background-color: rgba(81, 168, 132, 1);
    margin-left: 23px;
    list-style: none;
    margin-top: 20px;
}
nav li .LiText{
     color: #FFFFFF;
     text-decoration: none;
}
aside .Menu2 {
    width: 370px;
    height: 409px;
    left: 22.77px;
    top: 503px;
    background-color: rgba(81, 168, 132, 1);
    margin-top: 20px;
    margin-left: 23px;
    border: 1px solid rgba(0, 0, 0, 1)
}
aside .Menu2 h5{
    width: 191px;
    height: 38px;
    left: 108px;
    top: 510px;
    padding-left: 82.23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}
aside .Menu2 ul{
    margin-inline-start: 100px;
}
aside .Menu2 li {
    margin-top: 40px;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    display: flex;
    align-items: left;
color: #FFFFFF;
}
aside .Menu2 li {
    margin-top: 40px;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    display: flex;
    align-items: left;
color: #FFFFFF;
}
#InfoIMG{
    width: 64.09px;
   height: 66px;
    left: 34.77px;
   top: 680px;
   position: absolute;
   display: block;
}
#Contact{
    width: 64.09px;
    height: 66px;
    left: 34.77px;
    top: 760px;
    position: absolute;
    display: block;
}
#Address{
    width: 64.09px;
    height: 66px;
    left: 34.77px;
    top: 860px;
    position: absolute;
    display: block;
}
#section1 {
    width: 1512px;
    height: 471px;
    left: 0px;
    top: 157px;
    background: #D9D9D9;
    display: block;
}
#section1 .h2-title{
    width: 1345px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 53px;
    padding-top: 36px;
    position: relative;
    left: 86px;
}
#section1 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    position: relative;
    left: 86px;
    padding-top: 9px;
}
#section1 .p-container{
    height: 247px;
    width: 1034px;
    left: 2px;
    bottom: 30px;
    right: 394px;
    position: relative;
    display: inline-block;
}
#section1 .p-container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 39px;
    margin-top: 20px;
    padding-left: 84px
}
#section1 #ImgGym{
    width: 267px;
    height: 236px;
    left: 1182px;
    top: 274px;
    display: inline-block;
}
#section2 {
    width: 1512px;
    height: 691px;
    display: block;
    background: #AACE9B;
}
#section2 .opt1{
    height: 285px;
    width:573.62px;
    display: inline-block;
    position: relative;
    left: 86px;
}
#section2 .opt1 .img-opt1{
    position: relative;
    top: 20px;
    left: 0px;
    display: inline-block;
    width: 109px;
    height: 110px;
}
#section2 .opt1 h3{
    width: 293px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
#section2 .opt1 .button-s1{
    width: 342.7732849121094px;
    position: relative;
    padding: 14px 36px 14px 36px;
    border: 1px solid;
    display: inline-block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(170, 206, 155, 0.41);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top:-35px;
    box-sizing: border-box;
}
#section2 .op1p{
    width: 442.71px;
    height: 175px;
    position: relative;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
#section2 .opt2{
    height: 285px;
    width:573.62px;
    display: inline-block;
    position: relative;
    left: 82px;
}
#section2 .opt2 .img-opt2{
    position: relative;
    top: 20px;
    left: 0px;
    display: inline-block;
    width: 109px;
    height: 110px;
}
#section2 .opt2 h3{
    width: 293px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
#section2 .opt2 .button-s1{
    width: 342.7732849121094px;
    position: relative;
    padding: 14px 36px 14px 36px;
    border: 1px solid;
    display: inline-block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(170, 206, 155, 0.41);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top:-35px;
    box-sizing: border-box;
}
#section2 .op2p{
    width: 442.71px;
    height: 175px;
    position: relative;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
#section2 .opt3{
    height: 285px;
    width:573.62px;
    display: inline-block;
    position: relative;
    top: -32px;
    left: 82px;
}
#section2 .opt3 .img-opt3{
    position: relative;
    top: 20px;
    left: 0px;
    display: inline-block;
    width: 109px;
    height: 110px;
}
#section2 .opt3 h3{
    width: 293px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
#section2 .opt3 .button-s1{
    width: 342.7732849121094px;
    position: relative;
    padding: 14px 36px 14px 36px;
    border: 1px solid;
    display: inline-block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(170, 206, 155, 0.41);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top:-35px;
    box-sizing: border-box;
}
#section2 .op3p{
    width: 442.71px;
    height: 175px;
    position: relative;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
#section2 .opt4{
    height: 285px;
    width:573.62px;
    display: inline-block;
    position: relative;
    left: 82px;
}
#section2 .opt4 .img-opt4{
    position: relative;
    top: 20px;
    left: 0px;
    display: inline-block;
    width: 109px;
    height: 110px;
}
#section2 .opt4 h3{
    width: 293px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
#section2 .opt4 .button-s1{
    width: 342.7732849121094px;
    position: relative;
    padding: 14px 36px 14px 36px;
    border: 1px solid;
    display: inline-block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(170, 206, 155, 0.41);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top:-35px;
    box-sizing: border-box;
}
#section2 .op4p{
    width: 442.71px;
    height: 175px;
    position: relative;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}