* {
    margin:0px;
    padding: 0px;
}
body {
    width:100vw;
    overflow-x: hidden;
}
header{
    display: block;
    width: 1512px;
    height: 159px;
    left: -1px;
    top: 0px;
    background: #373867;
    display: block;
}

header h1 {
    width: 223px;
    height: 50px;
    top: 55px;
    position: absolute;
    color: rgba(240, 240, 240, 1);
    display: inline-block;
    right: 90px;
    padding-left: 89px;
}

aside {
    width: 427px;
    height: 1068px;
    background: rgba(229, 242, 237, 1);
    display: block;
   display: none;
}

aside h3{
    width: 101.43px;
    height: 61.31px;
    left: 150.26px;
    top: 32.27px;
    text-align: center;
    padding-left: 150.26px;
    padding-top: 32.27px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

nav li{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 1);
    height: 67px;
    width: 370px;
    left: 23px;
    top: 113px;
    border-radius: 0px;
    text-align: center;
    background-color: rgba(81, 168, 132, 1);
    margin-left: 23px;
    list-style: none;
    margin-top: 20px;
}
nav li .LiText{
     color: #FFFFFF;
     text-decoration: none;
}

aside .Menu2 {
    width: 370px;
    height: 409px;
    left: 22.77px;
    top: 503px;
    background-color: rgba(81, 168, 132, 1);
    margin-top: 20px;
    margin-left: 23px;
    border: 1px solid rgba(0, 0, 0, 1)
    
}
aside .Menu2 h5{
    width: 191px;
    height: 38px;
    left: 108px;
    top: 510px;
    padding-left: 82.23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}
aside .Menu2 ul{
    margin-inline-start: 100px;
}
aside .Menu2 li {
    
    margin-top: 40px;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    display: flex;
    align-items: left;
    

color: #FFFFFF;
}
 
#InfoIMG{
    width: 64.09px;
   height: 66px;
    left: 34.77px;
   top: 680px;
   position: absolute;
   display: block;
}
#Contact{
    width: 64.09px;
    height: 66px;
    left: 34.77px;
    top: 760px;
    position: absolute;
    display: block;
}
#Address{
    width: 64.09px;
    height: 66px;
    left: 34.77px;
    top: 860px;
    position: absolute;
    display: block;
}

#S1 {
    width: 1512px;
    height: 471px;
    left: 0px;
    top: 157px;
    background: #D9D9D9;
    display: block;
}

#S1 .h2-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 53px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #000000;
    margin-left: 84px;
    padding-top: 34px;
}

#S1 h3{

    left: 84px;
    top: 255px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-left: 84px;
    padding-top:9px;
}

#S1 #ImgGym{

    position: absolute;
    width: 267px;
    height: 236px;
    left: 1182px;
    top: 274px;

}

#S1 .p-container{
    height: 247px;
    width: 1034px;
    top: calc(50% - 247px/2 - 898px);
    margin-left: 84px;
    margin-top: 34px;
}

#S1 .p-container p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
}

#S2 {
    width: 1512px;
    height: 691px;
    display: block;
    background: #AACE9B;
}

#S2 .opt1{
    width: 49%;
    height: 50%;
    display: inline-block;
}
#S2 .opt2{
    width: 49%;
    height: 50%;
    display: inline-block;
    left: -4px;
}
#S2 .opt3{
    width: 49%;
    height: 49%;
    display: inline-block;
}
#S2 .opt4{
    width: 49%;
    height: 49%;
    display: inline-block;
}

#S2 .p-section2{
    width: 600px;
    height: 175px;
    left: 219.86px;
    top: 754px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    right: 31px;
    margin-left: 120px;
    text-align: center;
}

#S2 .ImgS2{
    display: inline-block;
    margin-left: 89px;
}

#S2 h3{
    width: 342px;
    height: 67px;
    display: inline-block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(170, 206, 155, 0.41);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 38px;
    vertical-align: top;
}