<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="../Week-04/Css/reset.css">-->
    <link rel="stylesheet" type="text/css" href="/Week-06/css/login.css">
    <link rel="stylesheet" type="text/css" href="/Week-06/css/header.css">
    <link rel="stylesheet" type="text/css" href="/Week-06/css/footer.css">
    <script src="/Week-06/js/login.js"></script>
    <title>Log In</title>
</head>
<body>
    <header>
        <h1>MegaR<img id=Logo src="/Assets/Img/LOGO-RR_1.jpg" alt="Logo picture" >cket</h1>
        <img src="" alt="">
    </header>
    <main>
        <form action="">
            <div class="signContainer">
                
                <div class="cont1">
                    <h1 id="tit" >Sign In</h1>
                    <img src="" alt="">
                </div>
                
                <div class="cont2">
                    <div>
                        <input class="" id="mail" type="text" placeholder="E-Mail">
                        <img src="" alt="">
                    </div>
                    <span class="span" id="invalid-mail">Invalid E-mail.</span>
                </div>
                
                <div class="cont3">
                    <input id="pass" type="password" placeholder="Password">
                    <span class="span" id="invalid-value">Invalid Password.</span>
                    <p>Have you forgotten the password?</p>
                </div>
                
                <div class="cont4">
                    <div class="remtick">
                        <img src="" alt="">
                        <p>Remember me</p>
                    </div>
                    <h2>Don't have an account?</h2>
                    <h3>Click here to become a member</h3>
                </div>
                <button id="button" ><a href="/Week-06/views/sign-up.html">Continue</a></button>
            </div>
        </form>
        <footer>
            <p><em>Copyright © 2023 MegaRocket SA. All rights reserved.</em></p>
            <div class="foot-icon">
              <img id="logo-in" src="/Assets/Img/InLogo.ico" alt="INLogo">
              <img id="logo-facebook" src="/Assets/Img/FacebookLogo.ico" alt="Logo Facebook">
              <img id="logo-ig" src="/Assets/Img/IGLogo.ico" alt="Logo Instagram">
            </div>
          </footer>
    </main>
    
</body>
</html>