<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Week-04/Css/reset.css">
    <link rel="stylesheet" type="text/css" href="/Week-06/css/sign-up.css">
    <title>Sing Up</title>
</head>
<body>
    <div class="regContainer">
        <div class="bar">
            <img src="" alt="">
            <h1>Register</h1>
            <div class="imgBox">
                <img src="" alt="">
            </div>
            
        </div>
            <div class="data">
                <div class="col1">
                    <p>Name</p>
                    <input type="text">
                    <p>Last Name</p>
                    <input type="text">
                    <p>DNI</p>
                    <input type="text">
                    <p>Birth Date</p>
                    <input type="date">
                    <p>Phone Number</p>
                    <input type="text">
                    <p>Address</p>
                    <input type="text">
                </div>
                <div class="col2">
                    <p>Location</p>
                    <input type="text">
                    <p>Postal Code</p>
                    <input type="text">
                    <p>E-mail</p>
                    <input type="text">
                    <p>Password</p>
                    <input type="text">
                    <p>Repeat Password</p>
                    <input type="text">
                </div>
            </div>
            <button>Continue</button>

    </div>
</body>
</html>