* {
    margin:0px;
    padding: 0px;
}
html{
    width: 100vw;
}
body{
    width: 100vw;
    font-family: 'Roboto';
}
header{
    width: 100vw;
    height: 60px;
    background: #373867;
}
header h1{
    padding: 0 7px 0 0;
    width: 206px;
    margin-top: 9px;
    margin-bottom: 9px;
    height: 42px;
    float: right;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #F0F0F0;
}
aside{
    background: rgba(229, 242, 237, 1);
    display: none;
}
#section1{
    width: 100vw;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#section1 .h2-title{
    font: 'Roboto';
    font-size: 30px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    padding: 19px 49px 14px 48px;
    
}
#section1 h3{
    font: 'Roboto';
    font-size: 30px;
    line-height: 25px;
    padding-bottom: 20px;
}
#section1 p{
    font: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 25px;

}
#img-gym{
    width: 248px;
    height: 267px;
}
#section2{
    width: 100vw;
    background: #AACE9B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section2 p{
    display: none;
}
#section2 h3{
    width: 342px;
    padding: 14px 0 14px 0;
    border: 1px solid;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(170, 206, 155, 0.41);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
#section2 img{
    padding:14px 0 14px 120px;
    width: 110px;
    height: 110px;
}
#section3{
    width: 100vw;
    background-color: #373867;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#section3 h2{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
}
#section3 .inp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section3 .inp-container input{
    height: 33px;
    width: 312px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#section3 select{
    display: flex;
    align-self: center;
    height: 36px;
    width: 312px;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-top: 30px;
}
#section3 textarea{
    width: 312px;
    height: 122px;
    align-self: center;
}
#section3 #button-a,#button-b{
    height: 37px;
    width: 90px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 25px;
    background-color: rgba(81, 168, 132, 1);
    color: #000000;
    margin-top: 15px;
    margin-bottom: 20px;
}
#section3 .but-container{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-self: center;
}
#section3 .sec3-cont2{
    align-self: center;
}
#section4{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #AACE9B;
    color: #F0F0F0;
    align-items: center;
}
#section4 h2{
    font-family: Roboto;
    font-size: 50px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
}
#section4 p{
    width: 335px;
    height: 220px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
}
#section5{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: rgba(217, 217, 217, 1);
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    align-items: center;
}
#section5 .activities,.black-m,.classic-m,.o-classes{
    display: flex;
    width: 390px;
    align-items: center;
    flex-direction: column;
}
#section5 h3{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}
#section5 ul{
    width: 197px;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer{
    background: rgba(170, 206, 155, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer .foot-icon #logo-in,#logo-facebook,#logo-ig{
    margin-left: 15px;
    margin-right: 15px;
    
}
/* For tablets: */
@media only screen and (min-width: 600px) {
  
    header{
        display: flex;
        height: 169px;
        align-items: flex-end;
        justify-content: center;
        flex-direction: row;
    }
    #section1{
        align-items: flex-start;
    }
    #section1 .h2-title{
        width: 100vw;
        padding: 16px 0 16px 0;
    }
    #section1 .p-container{
        display: flex;
        display: block;
        
    }
    #section1 img{
        display: flex;
        width: 117px;
        height: 192px;
        align-self: flex-end;
        margin-bottom: 60px;
    }
    #section1 .sect1-container{
        display: flex;
        flex-direction: row;
    }
    #section2{
        flex-direction: row;
        flex-wrap:wrap;
    }
    #section2 img{
        width: 50px;
        height: 44px;
        padding: 0 0 0 0;
    }
    #section2 h3{
        width: 180px;
        height: 45px;
        font-size: 18px;
        line-height: 21px;
    }
    #section2 p{
        display: flex;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        line-height: 46px;
    }
    #section2 .opt1,.opt2,.opt3,.opt4{
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0 10px 0 10px;
        
    }
    #section2 .button-s1{
        width: 180px;
        height: 45px;
    }
    #section3 h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #section3 .sec3-cont2{
        align-self: center;
    }
    #section4 p{
        width: 97vw;
        padding: 20px 10px 0 10px;
    }
}
/* For Desktop: */
@media only screen and (min-width:1200px) {

    header{
        height:159px;
        justify-content:flex-end;
    }
    #section1 p{
        text-align: left;
        margin-left: 84px;
    }
    #section1 .p-container{
        width: 70%;
    }
    #section1 img{
        width: 267px;
        height: 236px;
    }
    #section1 .h2-title{
        text-align: left;
        margin-left: 84px;
        
    }
    #section2 .op1p,.op2p,.op3p,.op4p{
        width: 442px;
        
    }
    #section2 p{
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Roboto;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;

    }
    #section2 .opt1,.opt2,.opt3,.opt4{
        margin-left: 40px; 
        width: 40%;
        margin-top: 20px;
    }
    #section2 h3{
        font-family: Roboto;
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        width: 342px;
        height: 67px;
        margin-top: 15px;
    }
    #section2 img{
        width: 110px;
        height: 110px;
    }
    #section3{
    flex-direction: row;
    flex-wrap: wrap;
   }
    #section3 .inp-container{
    margin-left: 20px;
   }
   #section3 .inp-container input{
    width:392px ;
    height: 39px;
   }
   #section3 textarea{
    height: 175px;
    width: 700px;
    margin-left: 30px;
   }
   #section3 h2{
    width: 100vw;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;

   }
   #section3 .sec3-cont2{
    width: 800px;
    height: 250px;
   }
   #section3 select{
    width: 392px;
    height: 39px
   }
   #section3 .but-container{
    padding-left: 150px;
   }
   #section4{
    align-items: flex-start;
   }
   #section4 p{
    font-family: Roboto;
    font-size: 50px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
   }
   #section5{
    flex-direction: row;
    flex-wrap: wrap;
   }
   #section5 .activities, .black-m, .classic-m, .o-classes{
    width: 23%;
   }
   footer{
    display: flex;
    flex-direction: row;
   }
}